/******
GENERIC TAGS
******/
*{
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
} 
ol, ul {
    list-style: none;
}

button{
	clear: both;
	margin-left: 20px;
}


#container{
	margin: 0 auto;
	width: 900px;
	overflow: hidden;
	height: auto;
}
